window {
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
}

.bar-module {
  background: linear-gradient(#171717, #070707, #171717);
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
